<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-account-group-heading"
        data-cy="AccountGroupCreateUpdateHeading"
        jhiTranslate="myaccount21App.accountGroup.home.createOrEditLabel"
      >
        Créer ou éditer un Account Group
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccount21App.accountGroup.groupName" for="field_groupName">Group Name</label>
          <input type="text" class="form-control" name="groupName" id="field_groupName" data-cy="groupName" formControlName="groupName" />
          <div *ngIf="editForm.get('groupName')!.invalid && (editForm.get('groupName')!.dirty || editForm.get('groupName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('groupName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccount21App.accountGroup.defaultActive" for="field_defaultActive"
            >Default Active</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="defaultActive"
            id="field_defaultActive"
            data-cy="defaultActive"
            formControlName="defaultActive"
          />
          <div
            *ngIf="
              editForm.get('defaultActive')!.invalid && (editForm.get('defaultActive')!.dirty || editForm.get('defaultActive')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('defaultActive')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccount21App.accountGroup.account" for="field_account">Account</label>
          <select
            class="form-control"
            id="field_account"
            data-cy="account"
            name="account"
            formControlName="account"
            [compareWith]="compareApplicationUser"
          >
            <option *ngIf="!editForm.get('account')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="applicationUserOption" *ngFor="let applicationUserOption of applicationUsersSharedCollection">
              {{ applicationUserOption.nickName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['account'])!.invalid && (editForm.get(['account'])!.dirty || editForm.get(['account'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['account'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="myaccount21App.accountGroup.bankAccount" for="field_bankAccounts">Bank Account</label>
          <select
            class="form-control"
            id="field_bankAccounts"
            data-cy="bankAccount"
            multiple
            name="bankAccounts"
            formControlName="bankAccounts"
            [compareWith]="compareBankAccount"
          >
            <option [ngValue]="bankAccountOption" *ngFor="let bankAccountOption of bankAccountsSharedCollection">
              {{ bankAccountOption.accountName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
